<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理后台</title>
<th:block th:fragment="header">
   <meta charset="utf-8" />
   <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
   <script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/js/moment.min.js"></script>
   <script type="text/javascript" src="/js/daterangepicker.js"></script>
   <script type="text/javascript"
      src="/js/bootstrap-datetimepicker.min.js"></script>
   <script type="text/javascript" src="/js/xcConfirm.js"></script>
   <script type="text/javascript" src="/js/jquery.md5.js"></script>
   <script type="text/javascript" src="/js/jquery-form.js"></script>
   <script type="text/javascript" src="/js/main.js"></script>
   <script type="text/javascript" src="/js/timeUtil.js"></script>
   <script type="text/javascript" src="/js/bootstrap-table.js"></script>
   <script type="text/javascript" src="/js/base-table.js"></script>
   <link rel="Stylesheet" type="text/css" href="/css/main.css" />
   <link rel="Stylesheet" type="text/css" href="/css/chosen.css" />
   <link rel="Stylesheet" type="text/css" href="/css/bootstrap.min.css" />
   <link rel="Stylesheet" type="text/css"
      href="/css/daterangepicker.css" />
   <link rel="Stylesheet" type="text/css"
      href="/css/daterangepicker-bs3.css" />
   <link rel="Stylesheet" type="text/css" href="/css/xcConfirm.css" />
   <link rel="Stylesheet" type="text/css"
      href="/css/bootstrap-table.css" />

   <link rel="stylesheet" href="/css/bootstrap-table.css"></link>
   <script src="/js/bootstrap-table.js"></script>

</th:block>
</head>
<body>
   <th:block th:fragment="toolbar">
      <div id="header-bar" class="navbar-fixed-top">
         <div class="header-top"></div>
         <div class="header-content">
            <div class="header-main main">
               <div class="logo f-left"></div>
               <div class="h-item f-right others">
                  <span>其他</span>
               </div>
               <div class="h-item f-right downloads">
                  <span>下载管理</span>
               </div>
               <div class="h-item f-right applies">
                  <span>申请管理</span>
               </div>
               <div class="h-item f-right histories">
                  <span>历届回顾</span>
               </div>
               <!-- 
               <div class="h-item f-right medias">
                  <span>合作媒体</span>
               </div>
                -->
               <div class="h-item f-right companies">
                  <span>展商推荐</span>
               </div>
               <div class="h-item f-right activities">
                  <span>同期活动</span>
               </div>
               <div class="h-item f-right news">
                  <span>展会资讯</span>
               </div>
               <span class="f-left"
                  style="margin-top: 40px; margin-left: 10px; color: white">
                  <span th:text="${admin.userName}"></span> <a
                  href="/backend/logout" style="color: white">退出</a>
               </span>
               <div class="clear"></div>
            </div>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="news">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="list">资讯列表</span></a>
            <a href="javascript:void(0);"><span class="publish">发布资讯</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="activities">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="list">活动列表</span></a>
            <a href="javascript:void(0);"><span class="publish">发布活动</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="companies">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="list ">展商列表</span></a>
            <a href="javascript:void(0);"><span class="publish">添加展商</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="medias">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="list ">媒体列表</span></a>
            <a href="javascript:void(0);"><span class="publish">添加媒体</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="histories">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="list ">列表</span></a>
            <a href="javascript:void(0);"><span class="publish">添加</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="applies">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="company ">展商申请</span></a>
            <a href="javascript:void(0);"><span class="audience">观众申请</span></a>
            <a href="javascript:void(0);"><span class="media">媒体申请</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="downloads">
      <div class="main">
         <div class="tag-list">
            <a href="javascript:void(0);"><span class="list">列表</span></a>
            <a href="javascript:void(0);"><span class="publish">添加</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="others">
      <div class="main">
         <div class="tag-list">
         	<a href="javascript:void(0);"><span class="homepage">首页设置</span></a>
            <a href="javascript:void(0);"><span class="list">幻灯片列表</span></a>
            <a href="javascript:void(0);"><span class="sliders">幻灯片</span></a>
            <a href="javascript:void(0);"><span class="help">使用帮助</span></a>
         </div>
      </div>
   </th:block>
   <th:block th:fragment="footer">
      <div id="footer" class="navbar-fixed-bottom">^_^ ^_^ ^_^ ^_^
         ^_^ ^_^ ^_^</div>
   </th:block>
</body>
</html>