<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理后台</title>
<th:block th:include="/common/common :: header"></th:block>
<script type="text/javascript" src="/js/kindeditor-min.js"></script>
<script type="text/javascript" src="/js/lang/zh_CN.js"></script>
<script type="text/javascript" src="/js/other/other.js"></script>
<script type="text/javascript" src="/js/other/article.js"></script>
</head>
<body page="others">
   <th:block th:include="/common/common :: toolbar"></th:block>
   <div id="body-content" menu="article">
      <th:block th:include="/common/common :: others"></th:block>
      <div class="main">
         <div class="mask">
            <img src="/img/waiting.gif" class="maskObj" />
         </div>
         <form id="form" method="post" enctype="multipart/form-data">
            <table width="75%">
               <tr style="height: 50px">
                  <th style="width: 10%; text-align: right">频道</th>
                  <td width="2%"></td>
                  <td>
                     <div style="position: relative; width: 100%">
                         <select id="parent" style="width: 120px">
                             <option value="-1">--选择频道--</option>
                             <option th:each="parent: ${parents}" th:text="${parent.title}" th:value="${parent.parent}"></option>
                         </select>
                     </div>
                  </td>
               </tr>
               <tr style="height: 50px">
                  <th style="width: 10%; text-align: right">栏目</th>
                  <td width="2%"></td>
                  <td>
                      <div style="position: relative; width: 100%">
                         <select id="title" style="width: 120px">
                             <option value="-1">--选择栏目--</option>
                         </select>
                     </div>
                  </td>
               </tr>
               <tr>
                  <th
                     style="text-align: right; vertical-align: text-top; padding-top: 10px">正文</th>
                  <td width="2%"></td>
                  <td style="padding-top: 10px">
                     <div style="position: relative; width: 100%">
                        <div
                           style="position: absolute; right: 5px; top: 5px;">
                           <span class="count">0</span>/20000
                        </div>
                        <textarea name="content" id="content"
                           style="width: 100%; height: 350px; visibility: hidden; display: block;"></textarea>
                     </div>
                  </td>
               </tr>
               <tr style="text-align: left">
                  <td colspan="2">
                  </td>
                  <td>
                    <p style="margin-top: 10px;margin-bottom:0px;">注：编辑正文时建议尽量只对文字进行插入删除，避免对整行整段做删除操作，</p>
                    <p style="margin-top: 5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;否则可能造成样式丢失，需要重新排版。</p>
                  </td>
               </tr>
               <tr style="text-align: right">
                  <td colspan="3">
                    <input id="publish" type="button" class="btn btn-primary" value="提交" style="width: 100px;" />
                  </td>
               </tr>
            </table>
         </form>
      </div>
   </div>
   <script th:inline="javascript">
    KindEditor.ready(function(K) {
        window.editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : true,
          //  uploadJson:'/api/upload',
            items : ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'link', 'table', 'code', '|', 'image'],
            afterChange : function() {
                var num = this.count('text');
                K('.count').html(num);
                if (num > 20000) {
                    $(".count").css('color', 'red');
                } else {
                    $(".count").css('color', 'black');
                }
            }
        });
    });

</script>
   <div th:include="/common/common :: footer"></div>
</body>
</html>