<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理后台</title>
<th:block th:include="/common/common :: header"></th:block>
<script type="text/javascript" src="/js/medias/medias.js"></script>
<script type="text/javascript" src="/js/medias/list.js"></script>
</head>
<body page="medias">
   <th:block th:include="/common/common :: toolbar"></th:block>
   <div id="body-content" menu="list">
      <th:block th:include="/common/common :: medias"></th:block>
      <div class="main">
              <!-- 上边的查询菜单栏  -->
         <div th:replace="/common/modal :: modal-menu(addable=true)"></div>
         <table id="autotable">
         </table>
      </div>
   </div>
   <!-- 添加和编辑的弹框  -->
    <div th:replace="/common/modal :: modal-dialog"></div>
   <div th:include="/common/common :: footer"></div>
</body>
</html>