<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.md5.js"></script>
    <link rel="Stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
	<div class="banner">
		<div class="bannerimg">banner image</div>
		<div class="bannerdate">banner date</div>
	</div>

	<div class="menu">
		<div class="menuitem">首页</div>
		<div class="menuitem">首页</div>
		<div class="menuitem">首页</div>
		<div class="menuitem">首页</div>
		<div class="menuitem">首页</div>
		<div class="menuitem">首页</div>
		<div class="menuitem">首页</div>
	</div>

	<div class="slider">图片滑动</div>

	div.

</body>
</html>