<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>测试上传文件</title>
<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.md5.js"></script>
<link rel="Stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
   <a href="/api/download" rel="external nofollow">下载test</a>
      <p>============================================</p>
   <p>测试文件上传-> 多文件上传用这个</p>
   <form method="POST" enctype="multipart/form-data"
      action="/api/uploads">
      <p>
         文件1：<input type="file" name="files" multiple="multiple" />
      </p>
      <p>
         <input type="submit" value="上传" />
      </p>
   </form>
   
   <p>============================================</p>
   <p>测试文件上传->单文件上传用这个</p>
      <form method="POST" enctype="multipart/form-data"
      action="/api/downloads/upload">
      <p>
      <input type="text" name="title" style="width:200px"/> <br/>
         文件：<input type="file" name="file" />
      </p>
      <p>
         <input type="submit" value="上传" />
      </p>
   </form>
</body>
</html>