<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理后台</title>
<th:block th:include="/common/common :: header"></th:block>
<script type="text/javascript" src="/js/apply/apply.js"></script>
<script type="text/javascript" src="/js/apply/company.js"></script>
</head>
<body page="applies">
   <th:block th:include="/common/common :: toolbar"></th:block>
   <div id="body-content" menu="company">
      <th:block th:include="/common/common :: applies"></th:block>
      <div class="main">
         <label>日期：</label> <input id="timeRange" type="text" value=""
            class="date-picker" readonly="readonly" /> &nbsp;&nbsp; <label>标题：</label>
         <input type="text" id="title" style="width: 150px"
            placeholder="标题关键字" /> &nbsp;  <label>状态：</label>
            <select id="status" style="width: 100px" name="status">
            <option value="-1" selected="selected">全部</option><option value="0">未处理
            </option><option value="1">已处理</option></select> &nbsp; <input type="button"
            value="查询" id="queryBtn" class="btn btn-default" />

         <div style="width: 100%; height: 25px; text-align: right">
            共查到<span id="num" style="color: red">0</span>条符合条件的记录
         </div>
         <table id="autotable">
         </table>
      </div>
   </div>

   <div th:include="/common/common :: footer"></div>
</body>
</html>